@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 84px);
  background-position: center;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
}